In [1]:
print("hello world")

hello world

In [34]:
import googleapiclient.discovery
import configparser

In [35]:
def get_data_config():
    conf = {}
    cfg = configparser.ConfigParser()
    cfg.read('data.conf')
    for (key,val) in cfg.items('DATA_APP_CONFIGS'):
        conf[key]=val
    return conf

In [36]:
conf = get_data_config()
api_key = conf['api_key']

In [ ]:
print(api_key)

In [38]:
def get_api_connection(api_key):
    api_service_name = "youtube"
    api_version = "v3"
    youtube = googleapiclient.discovery.build(api_service_name, api_version, developerKey=api_key)
    return youtube


youtube = get_api_connection(api_key)

In [39]:
print(youtube)

<googleapiclient.discovery.Resource object at 0x000001F2DD141090>

In [19]:
channel_id = "UCpSLfHgOlcSBlkxRnMKcnVw"
request = youtube.channels().list(
    part="snippet,contentDetails,statistics",
    id=channel_id
)
response = request.execute()

In [ ]:
response['items'][0]

In [41]:
for i in response['items']:
    data = dict(channel_name=i['snippet']['title'],
                channel_id=i['id'],
                channel_custom_url=i['snippet']['customUrl'],
                video_count=i['statistics']['videoCount'],
                view_count=i['statistics']['viewCount'],
                subscriber_count=i['statistics']['subscriberCount'],
                channel_description=i['snippet']['description'],
                playlist_id=i['contentDetails']['relatedPlaylists']['uploads'],
                )
    print(data)

{'channel_name': 'Ilaya Bharatham-இளைய பாரதம் ', 'channel_id': 'UCpSLfHgOlcSBlkxRnMKcnVw', 'channel_custom_url': '@ilayabharatham', 'video_count': '2758', 'view_count': '90710087', 'subscriber_count': '261000', 'channel_description': 'The channel deals with current events in India and across the globe with an indic perspective.', 'playlist_id': 'UUpSLfHgOlcSBlkxRnMKcnVw'}

In [42]:
data

{'channel_name': 'Ilaya Bharatham-இளைய பாரதம் ',
 'channel_id': 'UCpSLfHgOlcSBlkxRnMKcnVw',
 'channel_custom_url': '@ilayabharatham',
 'video_count': '2758',
 'view_count': '90710087',
 'subscriber_count': '261000',
 'channel_description': 'The channel deals with current events in India and across the globe with an indic perspective.',
 'playlist_id': 'UUpSLfHgOlcSBlkxRnMKcnVw'}

In [48]:
def get_channel_details(youtube, channel_id):
    #channel_id = "UCpSLfHgOlcSBlkxRnMKcnVw"
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=channel_id
    )
    response = request.execute()
    for i in response['items']:
        data = dict(channel_name=i['snippet']['title'],
                    channel_id=i['id'],
                    channel_custom_url=i['snippet']['customUrl'],
                    video_count=i['statistics']['videoCount'],
                    view_count=i['statistics']['viewCount'],
                    subscriber_count=i['statistics']['subscriberCount'],
                    channel_description=i['snippet']['description'],
                    playlist_id=i['contentDetails']['relatedPlaylists']['uploads'],
                    )    
    return data

In [49]:
channel_details = get_channel_details(youtube, "UCDjEYBdbvu-1DpWukvNu8vA")
#other channelid 
#UCDjEYBdbvu-1DpWukvNu8vA

In [50]:
channel_details

{'channel_name': 'Arthi Prem',
 'channel_id': 'UCDjEYBdbvu-1DpWukvNu8vA',
 'channel_custom_url': '@arthiprem',
 'video_count': '524',
 'view_count': '11707430',
 'subscriber_count': '52800',
 'channel_description': "Hi Friends,\n\nFor contact us, \nplease email  : arthipremchannel@gmail.com\nInstagram id : arthipremkumar\n\nFor Garuda Vega and Personal shopping Services , Please contact\nBalaguru Ramalingam\nWhatsapp : +91 9688336191\n\nThanks for your support of our channel. This space shares the latest US Visa news, Green card news, USA news and discusses a lot of topics related to the USA say Tax returns, Savings, Investments, and much more.\n\nSharing is the best thing in the world and yes it's the Goal of our channel too. Share all the things which we know to our people so everyone gets benefits from that. Also, we would encourage everyone to share their thoughts and ideas in the comments section, It would be helpful for many people.\n",
 'playlist_id': 'UUDjEYBdbvu-1DpWukvNu8vA'}

In [40]:
def get_video_headers(youtube, channel_id):
    #channel_id = "UCDjEYBdbvu-1DpWukvNu8vA"
    vid_ids = []
    request = youtube.channels().list(
        part="contentDetails",
        id=channel_id
    )
    response = request.execute()
    playlist_id=response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

    next_page_token = None

    while True:
        request1 = youtube.playlistItems().list(
            part='snippet',
            playlistId=playlist_id,
            maxResults=50,
            pageToken=next_page_token
        )
        response1 = request1.execute()
        for i in range(len(response1['items'])):
            vid_ids.append((response1['items'][i]['snippet']['resourceId']['videoId'], response1['items'][i]['snippet']['publishedAt']))
        next_page_token=response1.get('nextPageToken')
        if next_page_token is None:
            break
    return vid_ids

In [41]:
vid_id_details = get_video_headers(youtube, "UCDA9RcW2ftEWIh5wS6dkhJA")

In [42]:
len(vid_id_details)

158

In [55]:
response['items'][0]['contentDetails']['relatedPlaylists']['uploads']

'UUpSLfHgOlcSBlkxRnMKcnVw'

In [95]:
response1['items'][2]['snippet']['publishedAt']

'2020-07-28T14:15:24Z'

In [105]:
len(vid_ids)

525

In [93]:
request2 = youtube.playlistItems().list(
    part='snippet,id,status',
    playlistId=playlist_id,
    maxResults=50,
    #pageToken=next_page_token
)
response2 = request2.execute()

In [106]:
vid_details[5]

('IgewUMOLyBc', '2023-10-26T13:15:01Z')

In [ ]:
for vid in vid_id_details:
    print(vid[0])

In [113]:
#ff5x-aIfhnw
vid = "ff5x-aIfhnw"
request3=youtube.videos().list(
    part="snippet,contentDetails,statistics",
    id=vid
)
response3 = request3.execute()

In [122]:
response3['items'][0]['snippet']['title']
response3['items'][0]['snippet']['description']
response3['items'][0]['statistics']['viewCount']
response3['items'][0]['statistics']['commentCount']

'213'

In [420]:
def get_video_full_details(youtube,vid_id_details):
    video_details = []
    for vid in vid_id_details:
        request3=youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=vid[0]
        )
        response3 = request3.execute()

        for item in response3["items"]:
            data = dict(video_title=item['snippet']['title'],
                        video_id=item['id'],
                        channel_name=item['snippet']['channelTitle'],
                        video_description=item['snippet'].get('description'),
                        video_tags=item['snippet'].get('tags'),
                        video_thumbnail=item['snippet']['thumbnails']['default']['url'],
                        video_view_count=item['statistics'].get('viewCount'),
                        video_like_count=item['statistics'].get('likeCount'),
                        video_dislike_count=item['statistics'].get('dislikeCount'),
                        video_comment_count=item['statistics'].get('commentCount'),
                        video_favorite_count=item['statistics'].get('favoriteCount'),
                        video_publishet_at=item['snippet']['publishedAt'],
                        video_duration=item['contentDetails']['duration'],
                        video_definition=item['contentDetails']['definition'],
                        video_caption=item['contentDetails']['caption'],
                        )
            video_details.append(data)
    return video_details

In [421]:
video_full_details = get_video_full_details(youtube,vid_id_details)

In [423]:
df =  pd.DataFrame(video_full_details)

In [429]:
display(df[df.video_dislike_count.notnull()])

Empty DataFrame
Columns: [video_title, video_id, channel_name, video_description, video_tags, video_thumbnail, video_view_count, video_like_count, video_dislike_count, video_comment_count, video_favorite_count, video_publishet_at, video_duration, video_definition, video_caption]
Index: []

In [ ]:
for vid in vid_id_details:
    print(vid)

In [194]:
vid = "KqVk4lvY1Pg"
request4=youtube.commentThreads().list(
    part="snippet",
    videoId=vid,
    maxResults=50
)
response4 = request4.execute()
print(response4)

{'kind': 'youtube#commentThreadListResponse', 'etag': 'oF8qhc9HW9I5B22kiBMEztt1Rlg', 'pageInfo': {'totalResults': 4, 'resultsPerPage': 50}, 'items': [{'kind': 'youtube#commentThread', 'etag': '_NjoWHHl4UbS3jWikpUcU_7gcAA', 'id': 'UgzaNbB8JvIm_Cl5nYJ4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'topLevelComment': {'kind': 'youtube#comment', 'etag': 'D0G2JZG6St0EbN-kAUxmoN_h1hs', 'id': 'UgzaNbB8JvIm_Cl5nYJ4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'textDisplay': 'Toor or moong dal', 'textOriginal': 'Toor or moong dal', 'authorDisplayName': 'Paj', 'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/APkrFKZpfYVijbmxXMoAyrgP0suKyhMATbT0SPLN8M-KiyWQn5AfabbMILs8Gmt_q6jG=s48-c-k-c0x00ffffff-no-rj', 'authorChannelUrl': 'http://www.youtube.com/channel/UCqx0Ez-JXBn_WcvcUvE4iFw', 'authorChannelId': {'value': 'UCqx0Ez-JXBn_WcvcUvE4iFw'}, 'canRate': True, 'viewerRating': 'none', 'likeCount': 1, 'publishedAt': '2021-01-28T19:40:36Z', 'updatedAt': '2021-01-28T19:40:36Z'}}, 'canReply': True, 'totalReplyCount': 2, 'isPublic': True}}, {'kind': 'youtube#commentThread', 'etag': '8ugedOKP_Ul5TFWNeD8F8X_w48o', 'id': 'Ugw3sTVXx4xD4zO6BXJ4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'topLevelComment': {'kind': 'youtube#comment', 'etag': '_NBMREJdC8Yb4MAl6Kza-AI8MhU', 'id': 'Ugw3sTVXx4xD4zO6BXJ4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'textDisplay': 'Super di...yummy😍', 'textOriginal': 'Super di...yummy😍', 'authorDisplayName': 'Meenu Venkat', 'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/APkrFKYVc80F088hnPas9uCwJ_MSD_u5hlk8UNz2QwNACA=s48-c-k-c0x00ffffff-no-rj', 'authorChannelUrl': 'http://www.youtube.com/channel/UChakD0wYwS2mTi05rfwY4Ng', 'authorChannelId': {'value': 'UChakD0wYwS2mTi05rfwY4Ng'}, 'canRate': True, 'viewerRating': 'none', 'likeCount': 1, 'publishedAt': '2018-08-24T06:34:17Z', 'updatedAt': '2018-08-24T06:34:17Z'}}, 'canReply': True, 'totalReplyCount': 1, 'isPublic': True}}, {'kind': 'youtube#commentThread', 'etag': 'cBhxfv9-OU4wx_FCQAHSAvZ0SeE', 'id': 'Ugwe4CLFeu51cRo-sVF4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'topLevelComment': {'kind': 'youtube#comment', 'etag': 'VxsMexbuWgaDPPk7LxjBKjMHxMg', 'id': 'Ugwe4CLFeu51cRo-sVF4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'textDisplay': 'Shambar super da', 'textOriginal': 'Shambar super da', 'authorDisplayName': 'SRIPARIMALARENGAN R', 'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/APkrFKYd9zrx8lLOtPa5zkuhzEpPcS-Z3rOAW5oDTBLCkQ=s48-c-k-c0x00ffffff-no-rj', 'authorChannelUrl': 'http://www.youtube.com/channel/UCHKaBbOJ9dJAxTZGc8BUgIA', 'authorChannelId': {'value': 'UCHKaBbOJ9dJAxTZGc8BUgIA'}, 'canRate': True, 'viewerRating': 'none', 'likeCount': 2, 'publishedAt': '2018-08-22T09:04:08Z', 'updatedAt': '2018-08-22T09:04:08Z'}}, 'canReply': True, 'totalReplyCount': 0, 'isPublic': True}}, {'kind': 'youtube#commentThread', 'etag': 'KGof6LAGNRBbZe0l-N8pRDNeWFI', 'id': 'UgwQbgmmTwC8a5qR9Uh4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'topLevelComment': {'kind': 'youtube#comment', 'etag': 'NIGJtTpCbd6IZQVuAbE-oUkusKI', 'id': 'UgwQbgmmTwC8a5qR9Uh4AaABAg', 'snippet': {'channelId': 'UCDjEYBdbvu-1DpWukvNu8vA', 'videoId': 'KqVk4lvY1Pg', 'textDisplay': 'Saravanan  sambar👌👌👌', 'textOriginal': 'Saravanan  sambar👌👌👌', 'authorDisplayName': 'Bala Guru', 'authorProfileImageUrl': 'https://yt3.ggpht.com/ytc/APkrFKZiojt1OBUWbqIyciKRWk_LwRhkU6eLhEa8Xw=s48-c-k-c0x00ffffff-no-rj', 'authorChannelUrl': 'http://www.youtube.com/channel/UCrkYDt-rJM9ff_S-hTpbxAw', 'authorChannelId': {'value': 'UCrkYDt-rJM9ff_S-hTpbxAw'}, 'canRate': True, 'viewerRating': 'none', 'likeCount': 2, 'publishedAt': '2018-08-22T06:42:10Z', 'updatedAt': '2018-08-22T06:42:10Z'}}, 'canReply': True, 'totalReplyCount': 0, 'isPublic': True}}]}

In [ ]:

vid_id_details

In [211]:
response4['items'][0]['snippet']['topLevelComment']['snippet']['publishedAt']

'2021-01-28T19:40:36Z'

In [18]:
#comments

def get_comments_full_details(youtube,vid_id_details):
    comment_details = []
    try:
        for vid in vid_id_details:
            request4=youtube.commentThreads().list(
                part="snippet",
                videoId=vid[0],
                maxResults=50
            )
            response4 = request4.execute()

            for item in response4["items"]:
                data = dict(comment_id=item['snippet']['topLevelComment']['id'],
                            video_id=item['snippet']['topLevelComment']['snippet']['videoId'],
                            comment_text=item['snippet']['topLevelComment']['snippet']['textDisplay'],
                            comment_author=item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                            comment_published_at=item['snippet']['topLevelComment']['snippet']['publishedAt']
                            )
                comment_details.append(data)
    except:
        pass
    return comment_details

In [21]:
vid_id_details_1 = list(vid_id_details[i] for i in range(15))

In [43]:
vid_id_details_1

[('aafYAVKMJ24', '2023-11-09T18:22:32Z'),
 ('bZutDLEO68Y', '2023-11-09T01:30:14Z'),
 ('BOHgJR3s178', '2023-11-08T20:43:32Z'),
 ('i1831ur2WeM', '2023-11-08T18:42:23Z'),
 ('3m_CFW4XIKQ', '2023-11-08T01:30:02Z'),
 ('7HGP6wrTDa8', '2023-11-07T19:23:16Z'),
 ('VO1TybI4pGc', '2023-11-07T01:30:17Z'),
 ('zA1Ox504K0I', '2023-11-06T18:41:40Z'),
 ('uQVVBy3F-Do', '2023-11-06T01:30:20Z'),
 ('IDCXXoQwJwc', '2023-11-05T20:09:19Z'),
 ('XiiNFTYnt50', '2023-11-05T01:30:21Z'),
 ('jWMQ-jbdm7U', '2023-11-04T19:14:42Z'),
 ('ZF0wyI3GPdI', '2023-11-04T02:30:16Z'),
 ('V7TMcuxO6_0', '2023-11-03T20:36:52Z'),
 ('j3-RYjHf1iE', '2023-11-03T20:08:56Z')]

In [24]:
len(c_details)

297

In [ ]:
c_details = get_comments_full_details(youtube,vid_id_details_1)

In [30]:
#Adding comments to include nextPageToken

def get_comments_full_details(youtube,vid_id_details):
    comment_details = []

    for vid in vid_id_details:
        next_page_token = None
        print(vid[0])
        print(len(comment_details))
        while True:
            try:
                request4=youtube.commentThreads().list(
                    part="snippet",
                    videoId=vid[0],
                    maxResults=100,
                    order="time",
                    textFormat="plainText",
                    pageToken=next_page_token
                )
                response4 = request4.execute()

                for item in response4["items"]:
                    data = dict(comment_id=item['snippet']['topLevelComment']['id'],
                                video_id=item['snippet']['topLevelComment']['snippet']['videoId'],
                                comment_text=item['snippet']['topLevelComment']['snippet']['textDisplay'],
                                comment_author=item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                                comment_published_at=item['snippet']['topLevelComment']['snippet']['publishedAt']
                                )
                    comment_details.append(data)
                if next_page_token is None:
                    break
            except:
                pass
    return comment_details

In [31]:
len(vid_id_details_1)

15

In [ ]:
c_details = get_comments_full_details(youtube,vid_id_details)

In [51]:
comment_details = []
request4=youtube.commentThreads().list(
    part="snippet",
    videoId="VO1TybI4pGc",
    maxResults=25,
    order="time",
    textFormat="plainText"
)
response4 = request4.execute()

for item in response4["items"]:
    data = dict(comment_id=item['snippet']['topLevelComment']['id'],
                video_id=item['snippet']['topLevelComment']['snippet']['videoId'],
                comment_text=item['snippet']['topLevelComment']['snippet']['textDisplay'],
                comment_author=item['snippet']['topLevelComment']['snippet']['authorDisplayName'],
                comment_published_at=item['snippet']['topLevelComment']['snippet']['publishedAt']
                )
    comment_details.append(data)

In [ ]:
comment_details

In [ ]:
j = 1
for i in response4["items"]:
    print(j)
    print(i['snippet']['topLevelComment']['snippet']['textDisplay'])
    j+=1

In [245]:
#playlists
#madan gowri    -   UCY6KjrDBN_tIRFT_QNqQbRQ
#prem arthi     -   UCDjEYBdbvu-1DpWukvNu8vA
#channel_id = "UCY6KjrDBN_tIRFT_QNqQbRQ" 

def get_playlist_details(youtube, channel_id):
    playlist_details = []
    next_page_token = None

    while True:
        request5=youtube.playlists().list(
            part="snippet,contentDetails",
            channelId=channel_id,
            maxResults=50,
            pageToken=next_page_token
        )
        response5 = request5.execute()
        #print(response5)

        for item in response5['items']:
            data = dict(playlist_id=item['id'],
                        playlist_title=item['snippet']['title'],
                        channel_id=item['snippet']['channelId'],
                        channel_name=item['snippet']['channelTitle'],
                        published_at=item['snippet']['publishedAt'],
                        video_count=item['contentDetails']['itemCount'])
            playlist_details.append(data)

        next_page_token=response5.get('nextPageToken')
        if next_page_token is None:
            break

    return playlist_details

In [243]:
len(playlist_details)

54

In [246]:
play_details = get_playlist_details(youtube,"UCY6KjrDBN_tIRFT_QNqQbRQ")

In [ ]:
for i in play_details:
    print(i)

In [248]:
import pymongo

In [256]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [257]:
db = client["youtubedb"]
coll1 = db["channel_details"]
x={"test":"name","year":2023}
coll1.insert_one(x)

InsertOneResult(ObjectId('654abd030795fe5a5bd61df0'), acknowledged=True)

In [369]:
def load_youtube_details_mongo(api_key, channel_id):
    youtube = get_api_connection(api_key)
    channel_details = get_channel_details(youtube, channel_id)
    print("completed channel details")
    playlist_details = get_playlist_details(youtube, channel_id)
    print("completed playlist details")
    vid_id_details = get_video_headers(youtube, channel_id)
    print("completed getting video ids details")
    video_full_details = get_video_full_details(youtube,vid_id_details)
    print("completed videos details")
    comment_details = get_comments_full_details(youtube,vid_id_details)
    
    coll = db["youtube_channel_details"]
    coll.insert_one({"channel_details":channel_details,
                    "playlist_details":playlist_details,
                    "video_details":video_full_details,
                    "comments_details":comment_details})

    return "Upload Successfull"

In [371]:
api_key = "***"
#prem arthi channel
#channel_id = "UCDjEYBdbvu-1DpWukvNu8vA"
#ilaya bharatham
#channel_id = "UCpSLfHgOlcSBlkxRnMKcnVw"
#Tamil sage
channel_id = "UCBISwh4nVq6FI_iaXmztUaQ"
#Science with sam
#channel_id = "UChGd9JY4yMegY6PxqpBjpRA"
op = load_youtube_details_mongo(api_key, channel_id)
print(op)

completed channel details
completed playlist details
completed getting video ids details
completed videos details
Upload Successfull

In [53]:
import mysql.connector

In [54]:
def get_mysql_connection():
    cnx = mysql.connector.Connect(user="root",password="admin", host="127.0.0.1", database="ytube_data")
    return cnx

In [279]:
cnx = get_mysql_connection()
with cnx.cursor() as cursor:
    create_channel_query = """create table if not exists channels(channel_name varchar(200),
                                                                channel_id varchar(100),
                                                                channel_custom_url varchar(100),
                                                                video_count int,
                                                                view_count bigint,
                                                                subscriber_count bigint,
                                                                channel_description text,
                                                                playlist_id varchar(100)
                                                                ) """
    result = cursor.execute(create_channel_query)
    #rows = cursor.fetchall()
cnx.commit()
cnx.close()

In [284]:
import pandas as pd

In [293]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

In [302]:
ch_list = []
db = client["youtubedb"]
coll1 = db["youtube_channel_details"]
for channel in coll1.find({},{"_id":0,"channel_details":1}):
    ch_list.append(channel["channel_details"])
ch_df = pd.DataFrame(ch_list)

In [303]:
display(ch_df)

,channel_name,channel_id,channel_custom_url,video_count,view_count,subscriber_count,channel_description,playlist_id
0,Arthi Prem,UCDjEYBdbvu-1DpWukvNu8vA,@arthiprem,524,11707430,52800,"Hi Friends,\n\nFor contact us, \nplease email ...",UUDjEYBdbvu-1DpWukvNu8vA
1,Tamil SAGE,UCBISwh4nVq6FI_iaXmztUaQ,@tamilsage4zekeravi,563,9448173,60000,Spread Nationalism 🧘\n\nRoast Anti-Nationalis...,UUBISwh4nVq6FI_iaXmztUaQ

In [323]:
def execute_mysql_query(query):
    try:
        cnx = get_mysql_connection()
        with cnx.cursor() as cursor:
            result = cursor.execute(query)
            #rows = cursor.fetchall()
        cnx.commit()
        cnx.close()
        return "SUCCESS"
    except:
        return "FAILED"

In [322]:

def execute_mysql_query_with_values(query, values):
    try:
        cnx = get_mysql_connection()
        with cnx.cursor() as cursor:
            result = cursor.execute(query, values)
            #rows = cursor.fetchall()
        cnx.commit()
        cnx.close()
        return "SUCCESS"
    except:
        return "FAILED"

In [310]:
create_channel_query = """create table if not exists channels(channel_name varchar(200),
                                                            channel_id varchar(100),
                                                            channel_custom_url varchar(100),
                                                            video_count int,
                                                            view_count bigint,
                                                            subscriber_count bigint,
                                                            channel_description text,
                                                            playlist_id varchar(100)
                                                            ) """

drop_channel_query = """drop table if exists channels"""                                                            
op = execute_mysql_query(drop_channel_query)
op = execute_mysql_query(create_channel_query)

In [313]:
def get_data_from_mongo(details):
    ch_list = []
    db = client["youtubedb"]
    coll1 = db["youtube_channel_details"]
    for i in coll1.find({},{"_id":0,details:1}):
        ch_list.append(i[details])
    df = pd.DataFrame(ch_list)
    return df

In [336]:
def get_data_from_mongo_with_array(details):
    ch_list = []
    db = client["youtubedb"]
    coll1 = db["youtube_channel_details"]
    for data in coll1.find({},{"_id":0,details:1}):
        for i in range(len(data[details])):
            ch_list.append(data[details][i])
    df = pd.DataFrame(ch_list)
    return df

In [325]:
def load_channel_to_mysql():
    #get channel details from mongo
    ch_df = get_data_from_mongo("channel_details")
    display(ch_df)

    create_channel_query = """create table if not exists channels(channel_name varchar(200),
                                                                channel_id varchar(100),
                                                                channel_custom_url varchar(100),
                                                                video_count int,
                                                                view_count bigint,
                                                                subscriber_count bigint,
                                                                channel_description text,
                                                                playlist_id varchar(100)
                                                                ) """

    drop_channel_query = """drop table if exists channels"""                                                            
    op = execute_mysql_query(drop_channel_query)
    op = execute_mysql_query(create_channel_query)

    for index, row in ch_df.iterrows():
        insert_query="""insert into channels (channel_name
                                                ,channel_id
                                                ,channel_custom_url
                                                ,video_count
                                                ,view_count
                                                ,subscriber_count
                                                ,channel_description
                                                ,playlist_id
                                                ) 
                                                values(%s, %s, %s, %s, %s, %s, %s, %s)"""
        values=(row['channel_name']
                ,row['channel_id']
                ,row['channel_custom_url']
                ,row['video_count']
                ,row['view_count']
                ,row['subscriber_count']
                ,row['channel_description']
                ,row['playlist_id'])
        try:
            op = execute_mysql_query_with_values(insert_query, values)
            print(op)
        except:
            pass
    return "SUCCESS"

In [326]:
op = load_channel_to_mysql()

,channel_name,channel_id,channel_custom_url,video_count,view_count,subscriber_count,channel_description,playlist_id
0,Arthi Prem,UCDjEYBdbvu-1DpWukvNu8vA,@arthiprem,524,11707430,52800,"Hi Friends,\n\nFor contact us, \nplease email ...",UUDjEYBdbvu-1DpWukvNu8vA
1,Tamil SAGE,UCBISwh4nVq6FI_iaXmztUaQ,@tamilsage4zekeravi,563,9448173,60000,Spread Nationalism 🧘\n\nRoast Anti-Nationalis...,UUBISwh4nVq6FI_iaXmztUaQ

SUCCESS
SUCCESS

In [327]:
def load_channel_to_mysql():
    #get channel details from mongo
    ch_df = get_data_from_mongo("playlist_details")
    display(ch_df)

    create_channel_query = """create table if not exists channels(channel_name varchar(200),
                                                                channel_id varchar(100),
                                                                channel_custom_url varchar(100),
                                                                video_count int,
                                                                view_count bigint,
                                                                subscriber_count bigint,
                                                                channel_description text,
                                                                playlist_id varchar(100)
                                                                ) """

    drop_channel_query = """drop table if exists channels"""                                                            
    op = execute_mysql_query(drop_channel_query)
    op = execute_mysql_query(create_channel_query)

    for index, row in ch_df.iterrows():
        insert_query="""insert into channels (channel_name
                                                ,channel_id
                                                ,channel_custom_url
                                                ,video_count
                                                ,view_count
                                                ,subscriber_count
                                                ,channel_description
                                                ,playlist_id
                                                ) 
                                                values(%s, %s, %s, %s, %s, %s, %s, %s)"""
        values=(row['channel_name']
                ,row['channel_id']
                ,row['channel_custom_url']
                ,row['video_count']
                ,row['view_count']
                ,row['subscriber_count']
                ,row['channel_description']
                ,row['playlist_id'])
        try:
            op = execute_mysql_query_with_values(insert_query, values)
            print(op)
        except:
            pass
    return "SUCCESS"

SUCCESS

In [330]:
    pl_df = get_data_from_mongo("playlist_details")
    display(pl_df)

,0,1,2,3,4,5,6,7
0,{'playlist_id': 'PL4ZxeUpe7n6NEbZFr_2WVex7O7DY...,{'playlist_id': 'PL4ZxeUpe7n6NMKhQwnL4jCr4_u8C...,{'playlist_id': 'PL4ZxeUpe7n6MIB6TpdE-IgKoK5RG...,{'playlist_id': 'PL4ZxeUpe7n6PwZa1EweBA2Cyr67P...,{'playlist_id': 'PL4ZxeUpe7n6N26PxwCo7EcVSXb0p...,{'playlist_id': 'PL4ZxeUpe7n6OSaLj_tzfaeRewqKr...,{'playlist_id': 'PL4ZxeUpe7n6On1NGJyxjdRAkzY31...,None
1,{'playlist_id': 'PLJuAhK7b5ZnUKPvcNvyjAn7L1M78...,{'playlist_id': 'PLJuAhK7b5ZnU1tD5PwqoGSFKQsdb...,{'playlist_id': 'PLJuAhK7b5ZnXvDlOx5_mQM5_Th5s...,{'playlist_id': 'PLJuAhK7b5ZnUo7xddugMwQEMkH40...,{'playlist_id': 'PLJuAhK7b5ZnXnwO52uU7xg5A-lxc...,{'playlist_id': 'PLJuAhK7b5ZnV8PK5V3l9sVeG4qO-...,{'playlist_id': 'PLJuAhK7b5ZnWqRXetONakNl4zsRT...,{'playlist_id': 'PLJuAhK7b5ZnXTWmURzpzRVa1NQan...

In [334]:
pl_list = []
db = client["youtubedb"]
coll1 = db["youtube_channel_details"]
for data in coll1.find({},{"_id":0,"playlist_details":1}):
    for i in range(len(data["playlist_details"])):
        pl_list.append(data["playlist_details"][i])
df = pd.DataFrame(pl_list)

In [337]:
df = get_data_from_mongo_with_array("playlist_details")

In [341]:
df

,playlist_id,playlist_title,channel_id,channel_name,published_at,video_count
0,PL4ZxeUpe7n6NEbZFr_2WVex7O7DYmzDOf,ArthiPrem_NewJersey_Videos,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2023-05-25T08:43:14Z,11
1,PL4ZxeUpe7n6NMKhQwnL4jCr4_u8C2jOLi,USA Temple Videos,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2023-02-08T22:34:56Z,7
2,PL4ZxeUpe7n6MIB6TpdE-IgKoK5RGRm-eh,ArthiPrem_Houston_Videos,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2023-01-30T07:05:07Z,8
3,PL4ZxeUpe7n6PwZa1EweBA2Cyr67P0POWi,USA_VISA_Updates,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2023-01-09T03:52:53Z,50
4,PL4ZxeUpe7n6N26PxwCo7EcVSXb0pKxKvQ,Top10USATamil,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2022-12-31T08:04:08Z,4
5,PL4ZxeUpe7n6OSaLj_tzfaeRewqKriWfWl,Recession2023,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2022-12-15T03:14:11Z,31
6,PL4ZxeUpe7n6On1NGJyxjdRAkzY31n5H5U,Arthi Prem videos,UCDjEYBdbvu-1DpWukvNu8vA,Arthi Prem,2019-05-21T18:49:03Z,431
7,PLJuAhK7b5ZnUKPvcNvyjAn7L1M78Q1BoA,Nupur Sharma Issue,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2022-07-06T18:19:15Z,15
8,PLJuAhK7b5ZnU1tD5PwqoGSFKQsdbkKHC6,பாயசம்,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2022-02-25T12:21:46Z,9
9,PLJuAhK7b5ZnXvDlOx5_mQM5_Th5s7XO3i,Zeke Ravi Shorts,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2021-11-27T08:33:11Z,36
10,PLJuAhK7b5ZnUo7xddugMwQEMkH40i2vCa,Aryan Invasion,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2021-11-23T18:41:46Z,3
11,PLJuAhK7b5ZnXnwO52uU7xg5A-lxc-9auj,Subramanian Swamy Special,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2021-11-07T06:36:34Z,0
12,PLJuAhK7b5ZnV8PK5V3l9sVeG4qO-ytWq6,இன்னும் என்ன நீ பைத்தியக்காரனாவே நெனச்சிட்டு இ...,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2021-11-07T06:35:20Z,0
13,PLJuAhK7b5ZnWqRXetONakNl4zsRTQQ7Z9,Mughals Series,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2021-09-20T18:30:36Z,7
14,PLJuAhK7b5ZnXTWmURzpzRVa1NQan4CoOz,Sultan Series,UCBISwh4nVq6FI_iaXmztUaQ,Tamil SAGE,2021-09-20T18:28:24Z,2

In [342]:
def load_playlist_to_mysql():
    #get channel details from mongo
    ch_df = get_data_from_mongo_with_array("playlist_details")
    display(ch_df)

    drop_query = """drop table if exists playlist"""    
    create_query = """create table if not exists playlist(playlist_id varchar(100),
                                                                playlist_title varchar(200),
                                                                channel_id varchar(100),
                                                                channel_name varchar(200),
                                                                published_at varchar(50),
                                                                video_count int
                                                                ) """

    op = execute_mysql_query(drop_query)
    op = execute_mysql_query(create_query)

    for index, row in ch_df.iterrows():
        insert_query="""insert into playlist (playlist_id
                                                ,playlist_title
                                                ,channel_id
                                                ,channel_name
                                                ,published_at
                                                ,video_count
                                                ) 
                                                values(%s, %s, %s, %s, %s, %s)"""
        values=(row['playlist_id']
                ,row['playlist_title']
                ,row['channel_id']
                ,row['channel_name']
                ,row['published_at']
                ,row['video_count'])
        try:
            op = execute_mysql_query_with_values(insert_query, values)
            print(op)
        except:
            pass
    return "SUCCESS"

In [ ]:
op = load_playlist_to_mysql()

In [ ]:
    ch_df = get_data_from_mongo_with_array("video_details")
    display(ch_df)

In [373]:
for i in ch_df.columns:
    print(i + ",")

video_title,
video_id,
channel_name,
video_description,
video_tags,
video_thumbnail,
video_view_count,
video_like_count,
video_comment_count,
video_favorite_count,
video_publishet_at,
video_duration,
video_definition,
video_caption,

In [ ]:
ch_df

In [383]:
def load_videos_to_mysql():
    #get channel details from mongo
    ch_df = get_data_from_mongo_with_array("video_details")
    display(ch_df)

    drop_query = """drop table if exists videos"""    
    create_query = """create table if not exists videos(video_title varchar(200),
                                                        video_id varchar(100),
                                                        channel_name varchar(200),
                                                        video_description text,
                                                        video_tags text,
                                                        video_thumbnail text,
                                                        video_view_count bigint,
                                                        video_like_count bigint,
                                                        video_comment_count bigint,
                                                        video_favorite_count bigint,
                                                        video_publishet_at  varchar(50),
                                                        video_duration  varchar(100),
                                                        video_definition  varchar(100),
                                                        video_caption  varchar(200)
                                                                ) """

    op = execute_mysql_query(drop_query)
    op = execute_mysql_query(create_query)

    for index, row in ch_df.iterrows():
        insert_query="""insert into videos (video_title,
                                            video_id,
                                            channel_name,
                                            video_description,
                                            video_thumbnail,
                                            video_view_count,
                                            video_like_count,
                                            video_comment_count,
                                            video_favorite_count,
                                            video_publishet_at,
                                            video_duration,
                                            video_definition,
                                            video_caption
                                            ) 
                                            values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
        values=(
                row['video_title'],
                row['video_id'],
                row['channel_name'],
                row['video_description'],
                row['video_thumbnail'],
                row['video_view_count'],
                row['video_like_count'],
                row['video_comment_count'],
                row['video_favorite_count'],
                row['video_publishet_at'],
                row['video_duration'],
                row['video_definition'],
                row['video_caption'])
        try:
            op = execute_mysql_query_with_values(insert_query, values)
            if op == "FAILED":
                print(insert_query)
                print(values)
                #break
        except:
            return "FAILED"
    return "SUCCESS"

In [ ]:
op = load_videos_to_mysql()

In [ ]:
    ch_df = get_data_from_mongo_with_array("comments_details")
    display(ch_df)

In [387]:
for i in ch_df.columns:
    print(i+", ")

comment_id,
video_id,
comment_text,
comment_author,
comment_published_at,

In [393]:
def load_comments_to_mysql():
    #get comments details from mongo
    ch_df = get_data_from_mongo_with_array("comments_details")
    display(ch_df)

    drop_query = """drop table if exists comments"""    
    create_query = """create table if not exists comments(comment_id varchar(100), 
                                                            video_id varchar(100), 
                                                            comment_text text, 
                                                            comment_author varchar(200), 
                                                            comment_published_at varchar(50)
                                                                ) """

    op = execute_mysql_query(drop_query)
    op = execute_mysql_query(create_query)

    for index, row in ch_df.iterrows():
        insert_query="""insert into comments (comment_id, 
                                            video_id, 
                                            comment_text, 
                                            comment_author, 
                                            comment_published_at
                                            ) 
                                            values(%s, %s, %s, %s, %s)"""
        values=(
                row['comment_id'], 
                row['video_id'], 
                row['comment_text'], 
                row['comment_author'], 
                row['comment_published_at'])
        try:
            op = execute_mysql_query_with_values(insert_query, values)
            if op == "FAILED":
                print(insert_query)
                print(values)
                break
        except:
            return "FAILED"
    return "SUCCESS"

In [ ]:
op = load_playlist_to_mysql()

In [398]:
import streamlit as st

In [405]:
def show_data_from_mongo(details):
    ch_list = []
    db = client["youtubedb"]
    coll1 = db["youtube_channel_details"]
    for i in coll1.find({},{"_id":0,details:1}):
        ch_list.append(i[details])
    df = st.dataframe(ch_list)
    return df

In [406]:
def show_data_from_mongo_with_array(details):
    ch_list = []
    db = client["youtubedb"]
    coll1 = db["youtube_channel_details"]
    for data in coll1.find({},{"_id":0,details:1}):
        for i in range(len(data[details])):
            ch_list.append(data[details][i])
    df = st.dataframe(ch_list)
    return df

In [408]:
ch_df = show_data_from_mongo("channel_details")

In [411]:
import streamlit as st

st.title("Youtube Data Analysis")

#st.write(ch_df)

DeltaGenerator()

In [57]:
def get_data_from_mysql(query):
    try:
        cnx = get_mysql_connection()
        df = pd.read_sql(query, cnx)
        cnx.close()
        return df
    except:
        return "FAILED"

In [58]:
query = """select question_id, question_name from questions;"""
qn_df = get_data_from_mysql(query)
display(qn_df)

'FAILED'

In [59]:
query = """select channel_name, channel_id from channels;"""
chn_df = get_data_from_mysql(query)
display(chn_df)

'FAILED'

In [419]:
chn_df['channel_name'].values.tolist()

['Science With Sam - அறிவியல் அறிவோம் !', 'Tamil SAGE', 'Data Science Tamil']

In [443]:
df = get_data_from_mysql("select * from channels where channel_id = 'UCdtF71y294PYS9_GZ3y2lmw';")

C:\Users\kanna\AppData\Local\Temp\ipykernel_2940\3182324083.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

In [444]:
len(df.index)

1